<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headmeta">
	<title>Mob2m</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>	
	<!-- include the jQuery validation plugin -->
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}" src="js/jquery.validate.min.js"></script>
    <!-- add the required customizations for Bootstrap -->
    <script type="text/javascript" th:src="@{/js/jquery.validate.bootstrap.js}" src="js/jquery.validate.bootstrap.js"></script>
	<script>
		jQuery(function($){
		   $("#phonenumber").mask("(99)(9)9999-9999");
		   $("#zipCode").mask("99999-999");		   	   
		});
	</script>
	
</head>

<body>	
	
	<div th:fragment="findAllServices">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Usuários cadastrados</strong>
	            <a class="btn btn-sm btn-success" th:href="@{/adicionarservico}" style="margin-left:20px;">Adicionar</a>
	             <input id="serviceSearch" type="text" class="" placeholder="Procurar pelo nome do serviço" onkeyup="myFunctionService()" style="margin-left:40px; width:300px"></input>
	        </div>
	        <div class="panel-body" style="overflow-y:auto;height:300px">
	            <div class="table-responsive">
	                <table id="allServices" class="table table-sm table-striped table-hover table-bordered">
	                    <thead>
	                        <tr>
	                            <th>ID</th>
	                            <th>Unidade</th>
	                            <th>Nome do Serviço</th>                           
	                            <th>Valor do Serviço</th>    
	                            <th>Percentual do Profissional</th> 
	                            <th>Percentual do Auxiliar 1 </th> 
	                            <th>Percentual do Auxiliar 2 </th>       
						     </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="services : ${servicesList}">
	                            <td th:text="${services.id}"></td>	
	                            <td th:text="${services.companySubsidiaries.companySubsidiaryName}"></td>                            
	                            <td th:text="${services.service}"></td>
	                            <td th:text="${#numbers.formatDecimal(services.value, 1, 'POINT', 2, 'COMMA')}"></td>
	                            <td th:text="${#numbers.formatDecimal(services.percentage_professional, 0, 'POINT', 2, 'COMMA')}"></td>
	                            <td th:text="${#numbers.formatDecimal(services.percentage_aux_1, 1, 'POINT', 2, 'COMMA')}"></td>
	                            <td th:text="${#numbers.formatDecimal(services.percentage_aux_2, 1, 'POINT', 2, 'COMMA')}"></td>		                            	                            
	                            <td>
	                                <div class="btn-group pull-right">
	                                    <a class="btn btn-sm btn-primary" th:href="@{/editarservico/{id}(id=${services.id})}">Detalhes</a>
	                                    <!--  <a class="delete btn btn-sm btn-danger" th:href="@{/apagarusuario/{id}(id=${services.id})}">Excluir</a>-->
	                               </div>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        <div class="panel-footer">
	            <a class="btn btn-sm btn-success" th:href="@{/adicionarservico}" >Adicionar</a>
	        </div>
	       	<script type="text/javascript" th:src="@{/js/searchServiceName.js}" src="js/searchServiceName.js"></script>  
	    </div>	
	  </div>	
	
	<div th:fragment="addServices">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Cadastro de Serviço</strong>	            
	        </div>
	        <div class="panel-body">
	            <form id="formNewService" class="form-horizontal" th:object="${addServices}" th:action="@{/salvarservico}" method="POST" style="margin: 10px" >
	                <div class="form-group">
	                    <fieldset>
	                        <!--<div class="form-group row">
	                            <div class="col-md-4">
	                                <label>ID</label> 
	                                <input type="text" class="form-control input-sm" th:field="*{id}" readOnly="readonly"/>
	                            </div>
	                        </div> -->    
	                        
	                        <div class="form-group row">    
	                           <div class="col-md-4" >
	                                <label id="company_subsidiary">Unidade</label>
	                                 <div class="dropdown">
	                                	<select id="company_subsidiary_name" class="form-control input-sm" th:field="*{companySubsidiaries}" >	                                		
	                                		<option th:each="companySubsidiarySelection : ${companySubsidiaryList}" th:value="${companySubsidiarySelection.id}" th:text="${companySubsidiarySelection.companySubsidiaryName}" > </option>
	                                	</select>
	                                </div>
	                            </div>  
	                        </div>
	                                         
	                       
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="serviceName" >Nome do Serviço</label>
	                                <input id="serviceName" type="text" class="form-control input-sm" th:field="*{service}" ></input>
	                            	 
	                            </div>
	                        </div>	
	                        
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="serviceValue" >Valor do Serviço</label>
	                                <input id="serviceValue" type="number" step="0.01" class="form-control input-sm" th:field="*{value}" ></input>
	                            	 
	                            </div>
	                        </div>     
	                        
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="percentageProfessional" >Percentual do Profissional (%)</label>
	                                <input id="percentageProfessional" type="number" step="0.01" class="form-control input-sm" th:field="*{percentage_professional}" ></input>                            	 
	                            </div>
	                        </div>  
	                        
	                         <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="percentageAux1" >Percentual do Auxiliar 1 (%)</label>
	                                <input id="percentageAux1" type="number" step="0.01" class="form-control input-sm" th:field="*{percentage_aux_1}" ></input>                            	 
	                            </div>
	                        </div>  
	                        
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="percentageAux2" >Percentual do Auxiliar 2 (%)</label>
	                                <input id="percentageAux2" type="number" step="0.01" class="form-control input-sm" th:field="*{percentage_aux_2}" ></input>                            	 
	                            </div>
	                        </div>                   
	                                    
	                    </fieldset>
	                </div>
	                <div class="form-group row">
	                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
	                    <a th:href="@{/servicos}" class="btn btn-sm btn-default">Cancelar</a>
	                </div>
	            </form>
	        </div>        
        	
    	</div>  	
    </div>
    
    <div th:fragment="editServices">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Cadastro de Serviço</strong>
	        </div>
	        <div class="panel-body">
	            <form class="form-horizontal" th:object="${editServices}" th:action="@{/salvarservico}" method="POST" style="margin: 10px">
	                <div class="form-group">
	                    <fieldset>
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label>ID</label> 
	                                <input type="text" class="form-control input-sm" th:field="*{id}" readOnly="readonly"/>
	                            </div>
	                        </div>	  
	                        
	                        <div class="form-group row">    
	                           <div class="col-md-4" >
	                                <label id="company_subsidiary">Unidade</label>
	                                 <div class="dropdown">
	                                	<select id="company_subsidiary_name" class="form-control input-sm" th:field="*{companySubsidiaries}" >	                                		
	                                		<option th:each="companySubsidiarySelection : ${companySubsidiaryList}" th:value="${companySubsidiarySelection.id}" th:text="${companySubsidiarySelection.companySubsidiaryName}" th:selected="${companySubsidiarySelection.id==editServices.companySubsidiaries.id}" > </option>
	                                	</select>
	                                </div>
	                            </div>  
	                        </div>  
	                                             
	                        <div class="form-group row">                                                          
	                            <div class="col-md-4" >
	                                <label>Nome do Serviço</label>
	                                <input type="text" class="form-control input-sm" th:field="*{service}"/>
	                            </div>
	                        </div>
	                          <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="serviceValue" >Valor do Serviço</label>
	                                <input id="serviceValue" type="number" step="0.01"  class="form-control input-sm" th:field="*{value}" ></input>	                            	 
	                            </div>
	                        </div> 	 
	                        
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="percentageProfessional" >Percentual do Profissional (%)</label>
	                                <input id="percentageProfessional" type="number" step="0.01" class="form-control input-sm" th:field="*{percentage_professional}" ></input>                            	 
	                            </div>
	                        </div>  
	                        
	                         <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="percentageAux1" >Percentual do Auxiliar 1 (%)</label>
	                                <input id="percentageAux1" type="number" step="0.01" class="form-control input-sm" th:field="*{percentage_aux_1}" ></input>                            	 
	                            </div>
	                        </div>  
	                        
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="percentageAux2" >Percentual do Auxiliar 2 (%)</label>
	                                <input id="percentageAux2" type="number" step="0.01" class="form-control input-sm" th:field="*{percentage_aux_2}" ></input>                            	 
	                            </div>
	                        </div>     
	                        
	                                               	                           
	                    </fieldset>
	                </div>
	                <div class="form-group row">
	                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
	                    <a th:href="@{/servicos}" class="btn btn-sm btn-default">Cancelar</a>
	                </div>
	            </form>
	        </div>
    	</div>    	
    </div>
	

</body>

</html>