<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headmeta">
	<title>Mob2m</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="menuheader">
		<nav class="navbar navbar-inverse navbar-fixed-top" >
		  <div class="container-fluid">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
		      	</button>
			    <a class="navbar-brand" href="#">WebSiteName</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
			    <ul class="nav navbar-nav">
			      <li id="home" th:style="${styleValue}" class="active"><a th:href="@{${@environment.getProperty('url.home')}}">Home</a></li>
			      <li id="agenda" ><a th:href="@{${@environment.getProperty('url.agenda')}}">Agenda</a></li>
			      <li id="comandas"><a  th:href="@{${@environment.getProperty('url.comandas')}}">Comandas</a></li>	      
			      <li id="cadastro" th:style="${styleValue}" class="dropdown" th:remove="${fragmentRemove}">
			        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{${@environment.getProperty('url.cadastro')}}">Cadastro<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a id="clientes" th:href="@{${@environment.getProperty('url.cadastro.clientes')}}">Clientes</a></li>
			          <!--  <li style="display:none" class="divider"></li>-->
			          <li style="display:none"><a id="profissionais" th:href="@{${@environment.getProperty('url.cadastro.profissionais')}}">Profissionais</a></li>
			          <!--  <li class="divider"></li>-->
			          <li><a id="fornecedores" th:href="@{${@environment.getProperty('url.cadastro.fornecedores')}}" >Fornecedores</a></li>	          
			        </ul>
			      </li>	 
			      <li id="servicos" th:style="${styleValue}" class="dropdown" th:remove="${fragmentRemove}">
			        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{${@environment.getProperty('url.servicos')}}">Serviços<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a id="detalhes" th:href="@{${@environment.getProperty('url.servicos.detalhes')}}">Detalhes</a></li>
			          <li class="divider"></li>
			          <li><a id="promocoes" th:href="@{${@environment.getProperty('url.servicos.promocoes')}}">Promoções</a></li>	                   
			        </ul>
			      </li>	    
			      <li id="produtos" th:style="${styleValue}" class="dropdown" th:remove="${fragmentRemove}">
			        <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{${@environment.getProperty('url.produtos')}}">Produtos<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a id="revenda" th:href="@{${@environment.getProperty('url.produtos.revenda')}}">Revenda</a></li>
			          <li class="divider"></li>
			          <li><a id="insumos" th:href="@{${@environment.getProperty('url.produtos.consumo')}}">Consumo</a></li>	                   
			        </ul>
			      </li>	
			      <li id="administrativo" th:style="${styleValue}" class="dropdown" th:remove="${fragmentRemove}">
			        <a  class="dropdown-toggle" data-toggle="dropdown" th:href="@{${@environment.getProperty('url.administrativo')}}">Administrativo<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a id="permissoes" th:href="@{${@environment.getProperty('url.administrativo.permissoes')}}">Permissões</a></li>
			          <li class="divider"></li>
			          <li><a id="outros" th:href="@{${@environment.getProperty('url.outros')}}">Outros</a></li>	                   
			        </ul>
			      </li>		            
			      <li id="financeiro" th:style="${styleValue}" th:remove="${fragmentRemove}"><a th:href="@{${@environment.getProperty('url.financeiro')}}">Financeiro</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="#"><span th:text="${userLogged}"></span ></a></li>
			      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
			    </ul>
			</div>  
		  </div>
		</nav>
	</div>		
	
</body>
</html>