<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headmeta">
	<title>Mob2m</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>	
	<!-- include the jQuery validation plugin -->
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}" src="js/jquery.validate.min.js"></script>
    <!-- add the required customizations for Bootstrap -->
    <script type="text/javascript" th:src="@{/js/jquery.validate.bootstrap.js}" src="js/jquery.validate.bootstrap.js"></script>
	<script>
		jQuery(function($){
		   $("#phonenumber").mask("(99)(9)9999-9999");
		   $("#zipCode").mask("99999-999");		   	   
		});
	</script>
	
</head>

<body>	
	
	<div th:fragment="findAllUserCompany">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Permissões de acesso de usuários cadastrados </strong>
	            <a class="btn btn-sm btn-success" th:href="@{/administrativo/adicionarpermissao}" style="margin-left:20px;">Adicionar</a>
	             <input id="userCompanySearch" type="text" class="" placeholder="Procurar pelo nome do usuário" onkeyup="myFunctionUserCompany()" style="margin-left:40px; width:300px"></input>
	        </div>
	        <div class="panel-body" style="overflow-y:auto;height:300px">
	            <div class="table-responsive">
	                <table id="allUserCompany" class="table table-sm table-striped table-hover table-bordered">
	                    <thead>
	                        <tr>
	                            <th>ID</th>
	                            <th>Nome do estabelecimento</th>  
	                            <th>Nome do Usuário</th>  
	                            <th>Nível de permissão de acesso</th>                                                                   
						     </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="userCompany : ${userCompanyList}">
	                            <td th:text="${userCompany.id}"></td>	                            
	                            <td th:text="${userCompany.companySubsidiaries.companySubsidiaryName}"></td>
	                            <td th:text="${userCompany.username}"></td>
	                            <td th:text="${userCompany.userRoles.userRoleName}"></td>	                            	                            
	                            <td>
	                                <div class="btn-group pull-right">
	                                    <a class="btn btn-sm btn-primary" th:href="@{/administrativo/editarpermissao/{id}(id=${userCompany.id})}">Detalhes</a>
	                                    <!--  <a class="delete btn btn-sm btn-danger" th:href="@{/apagarusuario/{id}(id=${services.id})}">Excluir</a>-->
	                               </div>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        <div class="panel-footer">
	            <a class="btn btn-sm btn-success" th:href="@{/administrativo/adicionarpermissao}" >Adicionar</a>
	        </div>
	       	<script type="text/javascript" th:src="@{/js/searchServiceName.js}" src="js/searchServiceName.js"></script>  
	    </div>	
	  </div>	
	
	<div th:fragment="addUserCompany">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Permissões de acesso de usuários cadastrados</strong>	            
	        </div>
	        <div class="panel-body">
	            <form id="formNewService" class="form-horizontal" th:object="${addUserCompany}" th:action="@{/administrativo/salvarpermissao}" method="POST" style="margin: 10px" >
	                <div class="form-group">
	                    <fieldset>                                           
	                               
	                         <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label id="company_subsidiary_username">Nome de usuário</label>
	                                 <div class="dropdown">
	                                	<select id="company_subsidiary_username_list" class="form-control input-sm" th:field="*{username}" >	                                		
	                                		<option th:each="usernameSelection : ${usernameList}" th:value="${usernameSelection.id}" th:text="${usernameSelection.username}" > </option>
	                                	</select>
	                                </div>
	                            </div>
	                        </div> 
	                        
	                        <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label id="company_subsidiary">Unidade para acesso</label>
	                                 <div class="dropdown">
	                                	<select id="company_subsidiary_name" class="form-control input-sm" th:field="*{companySubsidiaries}" >	                                		
	                                		<option th:each="companySubsidiarySelection : ${companySubsidiaryList}" th:value="${companySubsidiarySelection.id}" th:text="${companySubsidiarySelection.companySubsidiaryName}" > </option>
	                                	</select>
	                                </div>
	                            </div>
	                        </div> 
	                         <div class="form-group row">
	                            <div class="col-md-4"  >
	                                <label id="user_roles">Nível de acesso</label>
	                                <div class="dropdown">
	                              	  <select id="user_roles_level" class="form-control input-sm" th:field="*{userRoles}">
	                              	  	<option th:each="userCompanyRoleList : ${userCompanyRoleLevel}" th:value="${userCompanyRoleList.id}" th:text="${userCompanyRoleList.userRoleName}" > </option> 
	                              	  </select>
	                              	</div>	                                
	                            </div>
	                        </div>                            
	                                    
	                    </fieldset>
	                </div>
	                <div class="form-group row">
	                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
	                    <a th:href="@{/administrativo/permissoes}" class="btn btn-sm btn-default">Cancelar</a>
	                </div>
	            </form>
	        </div>        
        	
    	</div>  	
    </div>
    
    <div th:fragment="editUserCompany">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Permissões de acesso de usuários cadastrados </strong>
	        </div>
	        <div class="panel-body">
	            <form class="form-horizontal" th:object="${editUserCompany}" th:action="@{/administrativo/salvarpermissao}" method="POST" style="margin: 10px">
	                <div class="form-group">
	                    <fieldset>
	                    	<div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="user_company_id" >Nível de permissão</label>
	                                <input id="user_company_id1" type="text" class="form-control input-sm" th:field="*{id}" readOnly="readonly"></input>                         	 
	                            </div>
	                        </div>	 	                    
	                         <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label id="company_subsidiary_username">Nome de usuário</label>
	                                 <div class="dropdown">
	                                	<select id="company_subsidiary_username_list" class="form-control input-sm" th:field="*{username}" >	                                		
	                                		<option th:each="usernameSelection : ${usernameList}" th:value="${usernameSelection.id}" th:text="${usernameSelection.username}" th:selected="${usernameSelection.username==editUserCompany.username}"> </option>
	                                	</select>
	                                </div>
	                            </div>
	                        </div> 
	                        
	                        <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label id="company_subsidiary">Unidade para acesso</label>
	                                 <div class="dropdown">
	                                	<select id="company_subsidiary_name" class="form-control input-sm" th:field="*{companySubsidiaries}" >	                                		
	                                		<option th:each="companySubsidiarySelection : ${companySubsidiaryList}" th:value="${companySubsidiarySelection.id}" th:text="${companySubsidiarySelection.companySubsidiaryName}" th:selected="${companySubsidiarySelection.id==editUserCompany.id}"> </option>
	                                	</select>
	                                </div>
	                            </div>
	                        </div> 
	                         <div class="form-group row">
	                            <div class="col-md-4"  >
	                                <label id="user_roles">Nível de acesso</label>
	                                <div class="dropdown">
	                              	  <select id="user_roles_level" class="form-control input-sm" th:field="*{userRoles}">
	                              	  	<option th:each="userCompanyRoleList : ${userCompanyRoleLevel}" th:value="${userCompanyRoleList.id}" th:text="${userCompanyRoleList.userRoleName}" th:selected="${userCompanyRoleList.id==editUserCompany.id}"> </option> 
	                              	  </select>
	                              	</div>	                                
	                            </div>
	                        </div>      
	                                                	                           
	                    </fieldset>
	                </div>
	                <div class="form-group row">
	                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
	                    <a th:href="@{/administrativo/permissoes}" class="btn btn-sm btn-default">Cancelar</a>
	                </div>
	            </form>
	        </div>
    	</div>    	
    </div>
	

</body>

</html>