<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headmeta">
	<title>Mob2m</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>	
	<!-- include the jQuery validation plugin -->
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}" src="js/jquery.validate.min.js"></script>
    <!-- add the required customizations for Bootstrap -->
    <script type="text/javascript" th:src="@{/js/jquery.validate.bootstrap.js}" src="js/jquery.validate.bootstrap.js"></script>
	<script>
		jQuery(function($){
		   $("#phonenumber").mask("(99)(9)9999-9999");
		   $("#zipCode").mask("99999-999");		   	   
		});
	</script>
	
</head>




<body>
	
	
	<div th:fragment="findAllCustomers">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Cadastro de Clientes</strong>
	            <a class="btn btn-sm btn-success" th:href="@{/adicionarcliente}" style="margin-left:20px;">Adicionar</a>            
	            <input id="userSearch" type="text" class="" placeholder="Procurar por nome" onkeyup="myFunction()" style="margin-left:40px; width:300px"></input>
	        </div>
	        <div class="panel-body" style="overflow-y:auto;height:300px">
	            <div class="table-responsive">
	                <table id="allUsers" class="table table-sm table-striped table-hover table-bordered">
	                    <thead>
	                        <tr>
	                            <th>ID</th>
	                            <th>Nome do cliente</th>
	                            <th>Telefone</th>	                            
	                            <th>Email</th>	                            
	                           <!--  <th>Endereço</th>	                                                
	                            <th>CEP</th>
	                            <th>Cidade</th>
	                            <th>Estado</th>  -->	                                          
						     </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="customer : ${customerList}">
	                            <td th:text="${customer.id}"></td>	                            
	                            <td th:text="${customer.customer_name}"></td>
	                            <td th:text="${customer.phone_number}"></td>
	                            <td th:text="${customer.email}"></td>  
	                          <!--   <td th:text="${customer.address}"></td>                                                   
	                            <td th:text="${customer.zip_code}"></td>
	                            <td th:text="${customer.cities.cityName}"></td>
	                            <td th:text="${customer.states.stateName}"></td> -->	                            
	                            <td>
	                                <div class="btn-group pull-right">
	                                    <a class="btn btn-sm btn-primary" th:href="@{/atualizarcliente/{id}(id=${customer.id})}" >Detalhes</a>	                                   
	                               </div>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        <div class="panel-footer">
	            <a class="btn btn-sm btn-success" th:href="@{/adicionarcliente}" >Adicionar</a>
	        </div>
	        <script type="text/javascript" th:src="@{/js/searchName.js}" src="js/searchName.js"></script> 
	    </div>	
	  </div>		
	
	
	<div th:fragment="addCustomer">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Cadastro de Clientes</strong>	            
	        </div>
	        <div class="panel-body">
	            <form id="formNewCustomer" class="form-horizontal" th:object="${addCustomer}" th:action="@{/salvarcliente}" method="POST" style="margin: 10px" >
	                <div class="form-group">
	                    <fieldset>	                        
	                         <div class="form-group row">
	                            <div class="col-md-4">	                            	
		                            	<label for="customer_name">Nome do Cliente</label>	                                
		                                <input id="customer_name" type="text" class="form-control input-sm" th:field="*{customer_name}" ></input>                                           
	                            </div>
	                         </div>
	                      
	                         <div class="form-group row">                                                          
	                            <div class="col-md-4" >
	                                <label for="phone_number">Telefone</label>
	                                <input id="phone_number" type="text" class="form-control input-sm" th:field="*{phone_number}" ></input>	                                
	                            </div>
	                        </div>
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="email" >Email</label>
	                                <input id="email" type="text" class="form-control input-sm" th:field="*{email}"></input>                        	
	                            </div>
	                        </div>	 
	                        <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label for="address" >Endereço</label> 
	                                <input id="address" type="text" class="form-control input-sm" th:field="*{address}" ></input>                       
	                            </div>
	                        </div>   
	                        
	                         <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label id="campo_estado">Estado</label>
	                                 <div class="dropdown">
	                                	<select id="estado" class="form-control input-sm" th:field="*{state_name_id}" >	                                		
	                                		<option th:each="stateList : ${state}" th:value="${stateList.cod_estados}" th:text="${stateList.stateName}" th:selected="${stateSelected}"> </option>
	                                	</select>
	                                </div>
	                            </div>
	                        </div> 
	                         <div class="form-group row">
	                            <div class="col-md-4"  >
	                                <label id="campo_cidade">Cidade</label>
	                                <div class="dropdown">
	                              	  <select id="cidade" class="form-control input-sm" th:field="*{city_name_id}">
	                              	  	<option th:each="cityList : ${city}" th:value="${cityList.cod_cidades}" th:text="${cityList.cityName}" th:selected="${initCity}"> </option> 
	                              	  </select>
	                              	</div>
	                                
	                            </div>
	                        </div>  	                                           
	                    </fieldset>
	                </div>	              
		                <div class="form-group row">
		                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
		                    <a th:href="@{/clientes}" class="btn btn-sm btn-default">Cancelar</a>
		                </div>        
	            </form>
	        </div>	        
	        
    	<!-- define validation rules and activate validation -->
	    <script type="text/javascript" th:src="@{/js/validationCustomerRules.js}" src="js/validationCustomerRules.js"></script>	    
	    <script type="text/javascript" th:src="@{/js/paisEstadoCidadeCustomers.js}" src="js/paisEstadoCidadeCustomers.js"></script>   	          
    	</div>  	
    </div>
    
    <div th:fragment="editCustomer">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <strong><br/><br/><br/>Cadastro de Clientes</strong>
	        </div>
	        <div class="panel-body">
	            <form class="form-horizontal" th:object="${editCustomers}" th:action="@{/salvarcliente}" method="POST" style="margin: 10px">
	                <div class="form-group">
	                    <fieldset>
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label>ID</label> 
	                                <input type="text" class="form-control input-sm" th:field="*{id}" readOnly="readonly"/>
	                            </div>
	                        </div>
	                       <div class="form-group row">
	                            <div class="col-md-4">	                            	
		                            	<label for="customer_name">Nome do Cliente</label>	                                
		                                <input id="customer_name" type="text" class="form-control input-sm" th:field="*{customer_name}" ></input>                                           
	                            </div>
	                         </div>
	                      
	                         <div class="form-group row">                                                          
	                            <div class="col-md-4" >
	                                <label for="phone_number">Telefone</label>
	                                <input id="phone_number" type="text" class="form-control input-sm" th:field="*{phone_number}" ></input>	                                
	                            </div>
	                        </div>
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="email" >Email</label>
	                                <input id="email" type="text" class="form-control input-sm" th:field="*{email}"></input>                        	
	                            </div>
	                        </div>	 
	                        <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label for="address" >Endereço</label> 
	                                <input id="address" type="text" class="form-control input-sm" th:field="*{address}" ></input>                       
	                            </div>
	                        </div>   
	                        
	                         <div class="form-group row">
	                            <div class="col-md-4" >
	                                <label id="campo_estado">Estado</label>
	                                 <div class="dropdown">
	                                	<select id="estado" class="form-control input-sm" th:field="*{state_name_id}" >	                                		
	                                		<option th:each="stateList : ${state}" th:value="${stateList.cod_estados}" th:text="${stateList.stateName}" th:selected="${stateList.cod_estados==editCustomers.state_name_id}"> </option>
	                                	</select>
	                                </div>
	                            </div>
	                        </div> 
	                         <div class="form-group row">
	                            <div class="col-md-4"  >
	                                <label id="campo_cidade">Cidade</label>
	                                <div class="dropdown">
	                              	  <select id="cidade" class="form-control input-sm" th:field="*{city_name_id}">
	                              	  	<option th:each="cityList : ${city}" th:value="${cityList.cod_cidades}" th:text="${cityList.cityName}" th:selected="${cityList.cod_cidades==editCustomers.city_name_id}"> </option> 
	                              	  </select>
	                              	</div>
	                                
	                            </div>
	                        </div>  	                 
	                    </fieldset>
	                </div>
	                <div class="form-group row">
	                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
	                    <a th:href="@{/clientes}" class="btn btn-sm btn-default">Cancelar</a>
	                </div>
	            </form>
	        </div>
	        <script type="text/javascript" th:src="@{/js/validationCustomerRules.js}" src="js/validationCustomerRules.js"></script>	    
	     	<script type="text/javascript" th:src="@{/js/paisEstadoCidadeCustomers.js}" src="js/paisEstadoCidadeCustomers.js"></script>   	
    	</div>    	
    </div>
	

</body>

</html>